@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 35, 43, 56;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 35, 43, 56;
    --background-end-rgb: 35, 43, 56;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 33% 18%;
    --card: 0 0% 100%;
    --card-foreground: 222 33% 18%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 33% 18%;
    --primary: 351 88% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 222 33% 18%;
    --secondary-foreground: 0 0% 100%;
    --muted: 220 14% 96%;
    --muted-foreground: 220 9% 46%;
    --accent: 351 88% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 351 88% 50%;
    --chart-1: 351 88% 50%;
    --chart-2: 222 33% 18%;
    --chart-3: 220 9% 46%;
    --chart-4: 351 88% 50%;
    --chart-5: 222 33% 18%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 222 33% 18%;
    --sidebar-primary: 351 88% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 220 14% 96%;
    --sidebar-accent-foreground: 222 33% 18%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 351 88% 50%;
  }
  .dark {
    --background: 222 26% 18%;
    --foreground: 0 0% 100%;
    --card: 222 26% 18%;
    --card-foreground: 0 0% 100%;
    --popover: 222 26% 18%;
    --popover-foreground: 0 0% 100%;
    --primary: 351 88% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 223 26% 24%;
    --secondary-foreground: 0 0% 100%;
    --muted: 223 26% 24%;
    --muted-foreground: 220 14% 96%;
    --accent: 351 88% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 223 26% 24%;
    --input: 223 26% 24%;
    --ring: 351 88% 50%;
    --chart-1: 351 88% 50%;
    --chart-2: 222 26% 18%;
    --chart-3: 223 26% 24%;
    --chart-4: 351 88% 50%;
    --chart-5: 222 26% 18%;
    --sidebar-background: 223 26% 14%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 351 88% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 223 26% 24%;
    --sidebar-accent-foreground: 220 14% 96%;
    --sidebar-border: 223 26% 24%;
    --sidebar-ring: 351 88% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  @font-face {
    font-family: 'geist';
    font-style: normal;
    font-weight: 100 900;
    src: url(/fonts/geist.woff2) format('woff2');
  }

  @font-face {
    font-family: 'geist-mono';
    font-style: normal;
    font-weight: 100 900;
    src: url(/fonts/geist-mono.woff2) format('woff2');
  }
}

.skeleton {
  * {
    pointer-events: none !important;
  }

  *[class^='text-'] {
    color: transparent;
    @apply rounded-md bg-foreground/20 select-none animate-pulse;
  }

  .skeleton-bg {
    @apply bg-foreground/10;
  }

  .skeleton-div {
    @apply bg-foreground/20 animate-pulse;
  }
}

.ProseMirror {
  outline: none;
}

.tab {
  @apply px-4 py-2 bg-gray-200 rounded-t-lg mr-2;
}

.tab.active {
  @apply bg-white border-b-2 border-[#E81932] font-bold;
}
